Data Science Tools and Ecosystem

# In this notebook, Data science Tools and Ecosystem are summarized.

Some of the popular languages that data scientists use are:
1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by data scientists include: 
1. MatPlotLib
2. Seaborn
3. Plotly
4. Scikit-learn

# H1: Data science tools
|Data science tools|
|:----------------:|
|Pandas|
|Hadoop|
|ApacheSpark|

### : Below are a few examples of evaluating arithmetic expressions in python

In [6]:
#This is a simple arithmec expression to multiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives:**
- Listing popular languages in data science
- Using markdown and code cells respectively
- Using the markdown cells productively
- Listing popular libraries used in data science

## Author: 
Rebecca Temple